body {
  background-color: #E8E9F3;
  display: flex;
  flex-direction: column;
}

#game-contents {
  display: flex;
  position: relative;
  flex-direction: column;
}

#title {
  position: absolute;
  left: 375px;
  top: 200px;
  opacity: 0;
}

#subtitle {
  position: absolute;
  top: 0;
  left: calc(50% - 171.5px);
  height: 100px;
  width: auto;
  display: none;
}

#start {
  position: absolute;
  margin: 400px calc(50% - 76px);
  z-index: 1;
  border-style: solid;
  border-color: black;
  background: none;
  font-family: 'Press Start 2P', cursive;
  padding: 10px 30px;
  color: black;
  font-size: 20px;
  text-shadow: 1px 1px white;
}

#start button {
  background-color: none;

}

#mute {
  position: absolute;
  height: 20px;
  width: auto;
  margin: 140px 82%;
}

#canvas {
  margin: 120px auto;
}

#links {
  z-index: 1;
  margin: -85px auto 0 auto;
  display: flex;
}

#links img {
  height: 30px;
  width: auto;
}

#links img:hover {
  height: 32px;
  width: auto;
}

@font-face {
  font-family: 'Press-Start-2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v5/8Lg6LX8-ntOHUQnvQ0E7o08SWvhA5BcWCS8xVZDIH7E.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
